@import "../../styles/variables";

.root {
  background-color: $accent-color;
  padding: 2rem;
  color: white;
  z-index: 3;
  font-size: 150%;
}

.title {
  color: #D7982B;
}

.submit {
  background-color: $button-color--active;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;

  @media(min-width: $breakpoint-md) {
    display: inline-block;
    width: auto;
  }
}
