@import "../../styles/variables";

.root {
  background-color: black;
  padding: 2rem;
  color: white;
  z-index: 3;
  font-size: 150%;
}

.title {

}

.submit {
  display: block;
  width: 100%;

  @media(min-width: $breakpoint-md) {
    display: inline-block;
    width: auto;
  }
}
