@import "../../styles/variables";

.root {
  background-color: $accent-color;
  padding: 3rem 2rem;
  font-size: 150%;
  text-align: center;
  color: white;
  z-index: 3;

  @media(min-width: $breakpoint-md) {
    padding: 3rem;
  }
}

.question {
  max-width: $breakpoint-md;
  margin: 0 auto;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    max-width: 6rem;
    border-bottom: 4px solid white;
  }
  &:last-of-type,
  &:empty {
    &:after {
      display: none;
    }
  }
}

.title {
  color: #D7982B;
}

.submit {
  background-color: $button-color--active;
  outline: 3px solid $accent-color;
  outline-offset: -5px;
  border: 2px solid white;
  padding: 0.5rem 5rem;
  display: block;
  width: 100%;

  @media(min-width: $breakpoint-lg) {
    margin: 4rem auto 0;
    width: auto;
  }
}
