body {
  padding: 1rem 0;
  position: relative;
  background-image: url('https://media.graphcms.com/output=format:jpg/resize=width:1200,height:1200,fit:max/BC3NYjD8RjabN7NaYCKr');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
