$base-spacing: 1rem;

// @media Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$grid-columns:      12;
$grid-gutter-width: $base-spacing * 2;

// fonts
$heading-font: 'brandon-grotesque', sans-serif;

// colors
$action-background: black;
$action-color: white;
