@import '../../styles/variables';

.root {
  border: 0.5rem solid white;
  background-color: $secondary-color;
  color: white;
  text-align: center;
  padding: 2rem;

  @media(min-width: $breakpoint-md) {
    padding: 3rem;
  }
}

.title {
  margin-bottom: 3rem;
}

.icon {
  display: block;
  max-width: 8rem;
  margin: auto;

  :global(.primary) {
    fill: white;
  }
  @media (min-width: $breakpoint-sm) {
    max-width: 10rem;
  }
}

.event {
  position: relative;
  min-height: 100%;
  margin: $base-spacing auto;
}

.eventTitle {

}

.eventTime {

}
